// Typography
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
// Base Font Family & Size
$t_font_roboto: 'Roboto', sans-serif;
$t_size_base: 16px;

// Fluid Typography
$min_font_width: 420px;
$max_font_width: 1920px;

